body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

.app {
  width: 100vw;
  height: 100vh;
}

/* ------------PALETTE------------- */

/* container */
.palette {
  /* display: flex;
  justify-content: center; */
  /* width: 60vw;
  height: 40vh; */
}

/* drawing tool */
.sketchPad {
  box-shadow: 0 4px 8px 0 grey, 0 6px 20px 0 grey;
  /* flex-grow: 2;
  flex-basis: 60vw; */
}

/* control buttons for palette */
.buttonManifold {
  /* display: flex;
  justify-content: column; */
  /* flex-grow: 1;
  flex-basis: 20vw; */
}

.button {
}

/* spacing div to left of palette */
.spacer {
  /* flex-grow: 1;
  flex-basis: 20vw; */
}

/* ------------DRUMS------------- */

/* drums container */
.drums {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-top: inherit;
}

/* bpm slider control */
.bpmCTRL {
  display: flex;
  justify-content: center;
}

/* drum machine component */
.drumMachine {
  display: flex;
  justify-content: center;
}

/* NavBar buttons */
.buttonDiv {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
