body,
html {
  min-height: 100%;
}

body {
  font-family: sans-serif;
  background-color: #eef0eb;
  background-repeat: no-repeat;
  background-size: cover;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

.app {
  width: 100vw;
  height: 100vh;
}

/* ------------PALETTE------------- */

/* container */
.palette {
  /* display: flex;
  justify-content: center; */
  /* width: 60vw;
  height: 40vh; */
}

/* drawing tool */
.sketchPad {
  box-shadow: 0 4px 8px 0 grey, 0 6px 20px 0 grey;
  height: 40vh;
}

/* control buttons for palette */
.buttonManifold {
  padding: 30px;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.buttonSpacer {
  height: 40vh;
}

.button {
  background: 'transparent';
  border: 1px solid #284b63;
  height: 24px;
  margin: 10px;
}

/* spacing div to left of palette */
.spacer {
  height: 40vh;
}

/* ------------DRUMS------------- */

/* drums container */
.drums {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-top: inherit;
}

/* bpm slider control */
.bpmCTRL {
  display: flex;
  justify-content: center;
  height: 5vh;
}

/* drum machine component */
.drumMachine {
  display: flex;
  justify-content: center;
  height: 20vh;
}

/* NavBar buttons */
.buttonDiv {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
