body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

.app {
  width: 100vw;
  height: 100vh;
}

/* ------------PALETTE------------- */

/* container */
.palette {
  display: flex;
  justify-content: center;
  /* width: 60vw;
  height: 40vh; */
}

/* drawing tool */
.sketchPad {
  box-shadow: 0 4px 8px 0 grey, 0 6px 20px 0 grey;
  /* flex-grow: 2;
  flex-basis: 60vw; */
}

/* control buttons for palette */
.buttonManifold {
  /* display: flex;
  justify-content: flex-end; */
  /* flex-grow: 1;
  flex-basis: 20vw; */
}

/* spacing div to left of palette */
.spacer {
  /* flex-grow: 1;
  flex-basis: 20vw; */
}

/* ------------DRUMS------------- */

/* drums container */
.drums {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-top: inherit;
}

/* bpm slider control */
.bpmCTRL {
  flex-grow: 1;
}

/* drum machine component */
.drumMachine {
  flex-grow: 1;
}

/* NavBar buttons */
.buttonDiv {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.button {
  height: 60px;
  width: 100px;
  background: linear-gradient(
    45deg,
    rgb(238, 238, 163) 30%,
    rgb(241, 187, 86) 90%
  );
  border-radius: 5px;
  color: black;
  /* padding: 20px; */
  box-shadow: 0 3px 5px 2px rgba(255, 105, 135, 0.3);
}
